<div class="change-password">
    <form class="form-signin" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        <h3>Restablecer contraseña</h3>
        <p>Proporcione un correo electrónico válido para restablecer su contraseña:</p>

        <div class="error" *ngIf="errors != null">
            {{ errors }}
        </div>
        <div class="success" *ngIf="successMsg != null">
          {{ successMsg?.message }}
        </div>

        <div class="form-group">
            <label>Correo electrónico</label>
            <input type="email" class="form-control" formControlName="email">
        </div>
        <button type="submit">
          Restablecer contraseña
        </button>
    </form>
  </div>